<section class="login">
  <div>
    <div class="logo">
      <img src="../../../assets/Logo.png" />
      <h3>GUARDIANS</h3>
    </div>
    <div class="form">
      <mat-form-field class="example-form-field" appearance="outline">
        <input matInput type="text" placeholder="Usuário" />
      </mat-form-field>
      <mat-form-field class="example-form-field" appearance="outline">
        <input matInput type="password" placeholder="Senha" />
      </mat-form-field>
      <a class="forget-password">Esqueci minha senha</a>
    </div>
    <button mat-raised-button color="primary" routerLink="/home">Entrar</button>
  </div>
  <a>Ainda não tem cadastro? <span>Criar conta</span></a>
</section>
